<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegForm</servlet-name>
        <servlet-class>RegForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regServlet</servlet-name>
        <servlet-class>regServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet1</servlet-name>
        <servlet-class>LoginServlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccineDetailsServlet</servlet-name>
        <servlet-class>VaccineDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>drugServlet</servlet-name>
        <servlet-class>drugServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>menuRights</servlet-name>
        <servlet-class>menuRights</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientDetailservletl</servlet-name>
        <servlet-class>patientDetailservletl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doctorList</servlet-name>
        <servlet-class>doctorList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>healthcareProviderServelet</servlet-name>
        <servlet-class>healthcareProviderServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HcareProviderservlet</servlet-name>
        <servlet-class>HcareProviderservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminList</servlet-name>
        <servlet-class>adminList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAdminServlet</servlet-name>
        <servlet-class>editAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editHcareServlet</servlet-name>
        <servlet-class>editHcareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAdminServlet</servlet-name>
        <servlet-class>deleteAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteHcareServlet</servlet-name>
        <servlet-class>deleteHcareServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editPatientServlet</servlet-name>
        <servlet-class>editPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletePatientServlet</servlet-name>
        <servlet-class>deletePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patientservlet</servlet-name>
        <servlet-class>patientservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchServlet</servlet-name>
        <servlet-class>searchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchList</servlet-name>
        <servlet-class>searchList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editProfile</servlet-name>
        <servlet-class>editProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassword</servlet-name>
        <servlet-class>changePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>interactionServlet</servlet-name>
        <servlet-class>interactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewInteractionType</servlet-name>
        <servlet-class>viewInteractionType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medication</servlet-name>
        <servlet-class>medication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>preDiagnous</servlet-name>
        <servlet-class>preDiagnous</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gridViewOfVaccine</servlet-name>
        <servlet-class>gridViewOfVaccine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gridViewOfVaccineDose</servlet-name>
        <servlet-class>gridViewOfVaccineDose</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>attachmentservlet</servlet-name>
        <servlet-class>attachmentservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewVDetail</servlet-name>
        <servlet-class>viewVDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pendingTask</servlet-name>
        <servlet-class>pendingTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewTask</servlet-name>
        <servlet-class>viewTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discardTask</servlet-name>
        <servlet-class>discardTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeDrug</servlet-name>
        <servlet-class>changeDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDrug</servlet-name>
        <servlet-class>updateDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gridViewOfReports</servlet-name>
        <servlet-class>gridViewOfReports</servlet-class>
    </servlet><servlet>
        <servlet-name>uploadProfile</servlet-name>
        <servlet-class>uploadProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>photoAttachment</servlet-name>
        <servlet-class>photoAttachment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recentPatientDisplay</servlet-name>
        <servlet-class>recentPatientDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displayCaptcha</servlet-name>
        <servlet-class>displayCaptcha</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editVaccineServlet</servlet-name>
        <servlet-class>editVaccineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPassword</servlet-name>
        <servlet-class>forgetPassword</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>deleteVaccineServlet</servlet-name>
        <servlet-class>deleteVaccineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gridViewOfDrug</servlet-name>
        <servlet-class>gridViewOfDrug</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewPassword</servlet-name>
        <servlet-class>UpdateNewPassword</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>forgetPassword</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>recentPatientDisplay</servlet-name>
        <url-pattern>/recentPatientDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editVaccineServlet</servlet-name>
        <url-pattern>/editVaccineServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>deleteVaccineServlet</servlet-name>
        <url-pattern>/deleteVaccineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPassword</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gridViewOfVaccineDose</servlet-name>
        <url-pattern>/gridViewOfVaccineDose</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>preDiagnous</servlet-name>
        <url-pattern>/preDiagnous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gridViewOfVaccine</servlet-name>
        <url-pattern>/gridViewOfVaccine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>interactionServlet</servlet-name>
        <url-pattern>/interactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassword</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>attachmentservlet</servlet-name>
        <url-pattern>/attachmentservlet</url-pattern>   
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewPassword</servlet-name>
        <url-pattern>/UpdateNewPassword</url-pattern>
    </servlet-mapping>
   <servlet-mapping>
        <servlet-name>drugServlet</servlet-name>
        <url-pattern>/drugServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gridViewOfDrug</servlet-name>
        <url-pattern>/gridViewOfDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuRights</servlet-name>
        <url-pattern>/menuRights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegForm</servlet-name>
        <url-pattern>/RegForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regServlet</servlet-name>
        <url-pattern>/regServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet1</servlet-name>
        <url-pattern>/LoginServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccineDetailsServlet</servlet-name>
        <url-pattern>/VaccineDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientDetailservletl</servlet-name>
        <url-pattern>/patientDetailservletl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doctorList</servlet-name>
        <url-pattern>/doctorList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>healthcareProviderServelet</servlet-name>
        <url-pattern>/healthcareProviderServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HcareProviderservlet</servlet-name>
        <url-pattern>/HcareProviderservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminList</servlet-name>
        <url-pattern>/adminList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAdminServlet</servlet-name>
        <url-pattern>/editAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editHcareServlet</servlet-name>
        <url-pattern>/editHcareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAdminServlet</servlet-name>
        <url-pattern>/deleteAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteHcareServlet</servlet-name>
        <url-pattern>/deleteHcareServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editPatientServlet</servlet-name>
        <url-pattern>/editPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletePatientServlet</servlet-name>
        <url-pattern>/deletePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patientservlet</servlet-name>
        <url-pattern>/patientservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchServlet</servlet-name>
        <url-pattern>/searchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchList</servlet-name>
        <url-pattern>/searchList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editProfile</servlet-name>
        <url-pattern>/editProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewInteractionType</servlet-name>
        <url-pattern>/viewInteractionType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medication</servlet-name>
        <url-pattern>/medication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewVDetail</servlet-name>
        <url-pattern>/viewVDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pendingTask</servlet-name>
        <url-pattern>/pendingTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewTask</servlet-name>
        <url-pattern>/viewTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discardTask</servlet-name>
        <url-pattern>/discardTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeDrug</servlet-name>
        <url-pattern>/changeDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDrug</servlet-name>
        <url-pattern>/updateDrug</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gridViewOfReports</servlet-name>
        <url-pattern>/gridViewOfReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadProfile</servlet-name>
        <url-pattern>/uploadProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>photoAttachment</servlet-name>
        <url-pattern>/photoAttachment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displayCaptcha</servlet-name>
        <url-pattern>/displayCaptcha</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>

            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
        <servlet>
            <servlet-name>RegForm</servlet-name>
            <servlet-class>RegForm</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>regServlet</servlet-name>
            <servlet-class>regServlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>LoginServlet1</servlet-name>
            <servlet-class>LoginServlet1</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>VaccineDetailsServlet</servlet-name>
            <servlet-class>VaccineDetailsServlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>patientDetailservletl</servlet-name>
            <servlet-class>patientDetailservletl</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>doctorList</servlet-name>
            <servlet-class>doctorList</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>healthcareProviderServelet</servlet-name>
            <servlet-class>healthcareProviderServelet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>HcareProviderservlet</servlet-name>
            <servlet-class>HcareProviderservlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>adminServlet</servlet-name>
            <servlet-class>adminServlet</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>adminList</servlet-name>
            <servlet-class>adminList</servlet-class>
        </servlet>
        <servlet>
            <servlet-name>FileUploadHandler</servlet-name>
            <servlet-class>FileUploadHandler</servlet-class>
        </servlet>
        <servlet-mapping>
            <servlet-name>RegForm</servlet-name>
            <url-pattern>/RegForm</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>regServlet</servlet-name>
            <url-pattern>/regServlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>LoginServlet1</servlet-name>
            <url-pattern>/LoginServlet1</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>VaccineDetailsServlet</servlet-name>
            <url-pattern>/VaccineDetailsServlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>patientDetailservletl</servlet-name>
            <url-pattern>/patientDetailservletl</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>doctorList</servlet-name>
            <url-pattern>/doctorList</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>healthcareProviderServelet</servlet-name>
            <url-pattern>/healthcareProviderServelet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>HcareProviderservlet</servlet-name>
            <url-pattern>/HcareProviderservlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>adminServlet</servlet-name>
            <url-pattern>/adminServlet</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>adminList</servlet-name>
            <url-pattern>/adminList</url-pattern>
        </servlet-mapping>
        <servlet-mapping>
            <servlet-name>FileUploadHandler</servlet-name>
            <url-pattern>/FileUploadHandler</url-pattern>
        </servlet-mapping>
        <session-config>
            <session-timeout>
            30
        </session-timeout>
        </session-config>
    </web-app>

    </web-app>
