/*HTML {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}*/
div {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
span {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ol {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
ul {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
li {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; VERTICAL-ALIGN: baseline; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px;
	
}
#menu {
	WIDTH: 100%;  BACKGROUND: #EAE0EB;background-color:rgba(30, 4, 70, 0.69)/*#EAE0EB*/; FONT-SIZE: 15px;font-weight:bold;position:fixed;z-index:100;
	WEBKIT-BORDER-RADIUS: 10px;KHTML-BORDER-RADIUS: 10px;	
	MOZ-BORDER-RADIUS: 10px;
	BORDER-RADIUS: 10px;
}

#menu UL {
	LIST-STYLE-TYPE: none; MARGIN: 0px; LIST-STYLE-IMAGE: none
}
#menu LI {
	POSITION: relative; FLOAT: left
}
#menu A {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 38px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #ffffff; BORDER-RIGHT: #666 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px
}
#menu UL UL {
	Z-INDEX: 99999; POSITION: absolute; WIDTH: 180px; DISPLAY: none; FLOAT: left; TOP: 38px; LEFT: 0px;
	
}
#menu UL UL LI {
	MIN-WIDTH: 180px
}
#menu UL UL UL {
	TOP: 0px; LEFT: 100%
}
#menu UL UL A {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 1em; PADDING-LEFT: 10px; WIDTH: 160px; PADDING-RIGHT: 10px; BACKGROUND: #333; HEIGHT: auto; PADDING-TOP: 10px;background-color:#FFFFFF;border:#000000 solid 1px;color:#000000;font-size:13px;font-weight:normal;
	
}
#menu LI:hover > A {
	BACKGROUND: #333; COLOR: #aaa
}
#menu UL UL :hover > A {
	BACKGROUND: #333; COLOR: #aaa; background-color:#EAE0EB;
}
#menu UL LI:hover > UL {
	DISPLAY: block
}
#menu UL LI UL{background-color:#EEEEEE;}
.clear {
	CLEAR: both
}